<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}mini-scrum{% endblock %}
        </title>
        
        <link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>

        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

        {% stylesheets '@MiniTeamScrumBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    
    <body>
        {% include "::navbar.html.twig" %}
        
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
        {% javascripts
            "http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
            "bootstrap/js/bootstrap.min.js"
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
