<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        
        <title>
            {% block title %}Mini-scrum{% endblock %}
        </title>
        
        <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">          
        
        {% stylesheets '@MiniTeamScrumBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    
    <body>
    
        <div class="navbar">
            <div class="navbar-inner">
                 <a class="brand" href="#">Mini Scrum</a>
                 
            {% if app.user != null %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="pull-right">
                    <a href="{{ path('project_show', {'project': app.user.selectedProject.slug}) }}">{{ app.user.selectedProject ~ ' (' ~ app.user.projectRole ~ ')' }}</a>
                    {# later on, action button here could depend on user role #}
                    <a href="{{ path('story_new', { 'project': app.user.selectedProject.name }) }}" class="btn btn-success"><i class="icon-pencil icon-white"></i> Add user story</a>
                </div>

                <p class="navbar-text"><i class="icon-user"></i> {{ app.user.username }}</p>
                {% endif %}
            {% endif %}
            </div>
        </div>
        
        <div class="container">
        
        {% block body %}
        {% endblock %}
        
        </div>
        
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
