{% extends '::base.html.twig' %}

{% block body %}
    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug, 'activeTab': 'home'})) }}

    <div class="row-fluid project-modules">
        {{ render(controller('MiniTeamScrumBundle:Project:needFeedbackModule', { 'project': project.slug})) }}
        {% if app.user in project.developers%}
            {{ block("todoList") }}
        {% elseif app.user == project.productOwner %}
            {{ block("validationList") }}
        {% endif %}

        <div class="span6" id="members">
            <h4>Members</h4>
            <ul class="well unstyled">
            {% for membership in project.memberships %}
                <li>{{ "%username% as %role%"|replace({ "%username%": membership.user.username, "%role%": membership.role }) }}</li>
            {% else %}
                <li>There is no user yet.</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block todoList %}
<div class="span6 pull-right" id="todo">
    <h4><i class="icon-wrench"></i> Working on</h4>
    <ul class="unstyled">
        {% for story in todoList %}
            <li class="well user-story">
                <p class="text-info pull-right">{{ story.points }} pts</p>
                <a href="{{ path('story_show', { 'project': project.slug, 'id': story.id }) }}">
                    <span class="gray-text">#{{ story.number }}</span>
                    <span class="black-text">{{ story.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block validationList %}
<div class="span6 pull-right" id="validation">
    <h4><i class="icon-thumbs-up"></i> Need your validation</h4>
    <ul class="unstyled">
        {% for story in validationList %}
            <li class="well user-story">
                <p class="text-info pull-right">{{ story.points }} pts</p>
                <a href="{{ path('story_show', { 'project': project.slug, 'id': story.id }) }}">
                    <span class="gray-text">#{{ story.number }}</span>
                    <span class="black-text">{{ story.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
