{% extends '::base.html.twig' %}

{% block body %}

    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug, 'activeTab': status })) }}

    {% set offset = '' %}
    {% if status == constant('MiniTeam\\ScrumBundle\\Entity\\UserStory::SPRINT_BACKLOG') %}
        {% set offset = 'offset1' %}
    {% elseif status == constant('MiniTeam\\ScrumBundle\\Entity\\UserStory::DOING') %}
        {% set offset = 'offset2' %}
    {% elseif status == constant('MiniTeam\\ScrumBundle\\Entity\\UserStory::BLOCKED') %}
        {% set offset = 'offset3' %}
    {% elseif status == constant('MiniTeam\\ScrumBundle\\Entity\\UserStory::TO_VALIDATE') %}
        {% set offset = 'offset4' %}
    {% elseif status == constant('MiniTeam\\ScrumBundle\\Entity\\UserStory::DONE') %}
        {% set offset = 'offset5' %}
    {% endif %}


    <div class="row">
        <div class="span7 {{ offset }}">

            <div class="centered">
                <h3>{{ status }}</h3>
            </div>

            {%  for story in stories %}

            <a href="{{ path('story_show', { 'project': project.slug,'id': story.id }) }}">
                <div class="well">
                    <p class="text-info pull-right">{{ story.points }} pts</p>
                    <span class="gray-text">#{{ story.number }}</span>
                    <span class="black-text">{{ story.title }}</span>
                    </p>
                </div>
            </a>

            {% endfor %}
        </div>

    </div>


{% endblock %}