{% extends '::base.html.twig' %}

{% block body %}

    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug,'activeTab':'us'})) }}

    <form action="{{ path('story_new',{'project':project}) }}" method="post">

        <div class="row" style="margin-top: 50px;">

            <div class="span2">
                <h4>Add story:</h4>
            </div>
            <div class="span10">
                {{ form_widget(
                    form.title,
                    {'attr': {'class':'input-block-level','style':'font-size:25px;height:45px','placeholder':'Your user story'} }
                    {# TODO avoid hard coded styles (because of bootstrap) #}
                ) }}
            </div>

        </div>

        <div class="row">

            <div class="span7 offset2">
                {{ form_widget(
                    form.details,
                    {'attr': {'class':'full-width','placeholder':'More details','rows':'5'} }
                ) }}
            </div>

            <div class="span3">
                {{ form_widget(form.points) }} pts
                {{ form_widget(form.status) }}
            </div>

        </div>

        {{ form_rest(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
            <a href="{{ path('project_show', {'project':project}) }}" type="button" class="btn">Cancel</a>
        </div>

    </form>


{% endblock %}
