{% extends '::base.html.twig' %}

{% block body %}

    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug, 'activeTab': story.status })) }}

    <div class="well user-story">
        <div class="row">
            <div class="span12">
                <p class="lead">
                    <span class="gray-text">#{{ story.number }}</span>
                    {{ story.title }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset1">
                {{ story.details }}
            </div>
            <div class="span1 offset3">
                <p class="lead text-info">{{ story.points }} pts</p>
            </div>
        </div>
    </div>

    <!-- gestion du statut de la user story -->

    <div class="row">
        <div class="span2">
            {% if project.productOwner == app.user %}
                {{ block('product_owner_left_buttons') }}
            {% elseif app.user in project.developers %}
                {{ block('developer_left_buttons') }}
            {% endif %}
        </div>
        <div class="span8 centered">
            <span class="label label-info" id="status">{{ story.status }}</span>
            {% if story.isAssigned %}
                <br><span id="assignee">{{ story.assignee.username }}</span>
            {% endif %}
        </div>
        <div class="span2 align-right">
            {% if project.productOwner == app.user %}
                {{ block('product_owner_right_buttons') }}
            {% elseif app.user in project.developers %}
                {{ block('developer_right_buttons') }}
            {% endif %}
        </div>
    </div>

    <hr>

    <!--comments thread -->

    <div class="row">
        <div class="span6">
            <h4><i class="icon-comment"></i> Comments</h4>
            {%  for comment in story.comments %}

                {% if project.productOwner == comment.author %}
                    {% set commentClass='alert story-comment po-comment'  %}
                {% else %}
                    {% set commentClass='alert story-comment dev-comment' %}
                {% endif %}

                <div class="{{ commentClass }}">
                    <strong>{{ comment.author.username }}: </strong>{{ comment.content }}
                </div>
            {% endfor %}



            {# TODO how to make name + input +button occupy the whole length ? #}
            {% if project.productOwner == app.user %}
                {% set commentClass='alert story-comment po-comment'  %}
            {% else %}
                {% set commentClass='alert story-comment dev-comment' %}
            {% endif %}
            <form action="{{ path('comment_new',{ 'project': project.slug, 'story': story.id }) }}" method="post" class="form-inline">
                <div class="{{ commentClass }}">
                    <strong>{{ app.user.username }}: </strong>
                    {{ form_widget(
                        commentForm.content,
                        {'attr': {'class':'input-xlarge'} }
                    ) }}
                    <button type="submit" class="btn comment-button" id="comment-submit-button""><i class="icon-ok"></i></button>
                    {{ form_rest(commentForm) }}
                </div>

            </form>

        </div>



        {#
        <div class="span6">
            <div class="alert alert-danger very-close">
                Ne fonctionne pas avec Thunderbird comme client de messagerie
            </div>
            <hr>
            <div class="alert very-close">
                Le lien ne fonctionne pas sous ipad (disabled)
            </div>
            <div class="alert very-close">
                Problème de formattage html de l'email
            </div>
        </div>
        #}
    </div>



{% endblock %}

{% block product_owner_left_buttons %}
    {% if story.isInBacklog %}
        <a class="btn btn-danger" href="{{ path('story_delete', { 'project': project.slug, 'id': story.id }) }}" id="delete"><i class="icon-trash icon-white"></i> Delete</a>
    {% elseif story.isPlanned %}
        <a class="btn btn-inverse" id="unplan" href="{{ path('story_unplan', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-fast-backward icon-white"></i> Remove from sprint</a>
    {% elseif story.isInProgress %}
        <a class="btn btn-danger" id="blocked" href="#"><i class="icon-ban-circle icon-white"></i> Blocked</a>
    {% elseif story.isDelivered %}
        <a class="btn btn-danger" id="refuse" href="{{ path('story_refuse', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-thumbs-down icon-white"></i> Refuse</a>
    {% elseif story.isDone %}
        <a class="btn btn-inverse"><i class="icon-hand-up icon-white"></i> Oops</a>
    {% endif %}
{% endblock %}

{% block product_owner_right_buttons %}
    {% if story.isInBacklog %}
        <a class="btn btn-info" id="plan" href="{{ path('story_plan', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-plus icon-white"></i> Plan for next sprint</a>
    {% elseif story.isBlocked %}
        <a class="btn btn-success" id="deblock" href="{{ path('story_deblock', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-hand-down icon-white"></i> Deblock</a>
    {% elseif story.isDelivered %}
        <a class="btn btn-success" id="accept" href="{{ path('story_accept', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-thumbs-up icon-white"></i> Accept</a>
    {% endif %}
{% endblock %}

{% block developer_left_buttons %}
    {% if story.isInProgress %}
        <a class="btn btn-danger" id="block" href="{{ path('story_block', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-ban-circle icon-white"></i> Block</a>
    {% elseif story.isDone or story.isDelivered %}
        <a class="btn btn-inverse"><i class="icon-hand-up icon-white"></i> Take back</a>
    {% endif %}
{% endblock %}

{% block developer_right_buttons %}
    {% if story.isInBacklog %}
        <a class="btn btn-info" id="plan" href="{{ path('story_plan', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-plus icon-white"></i> Plan for next sprint</a>
    {% elseif story.isPlanned %}
        <a class="btn btn-info" id="start" href="{{ path('story_start', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-play icon-white"></i> Start</a>
    {% elseif story.isInProgress %}
        <a class="btn btn-success" id="deliver" href="{{ path('story_deliver', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-ok icon-white"></i> Deliver</a>
    {% elseif story.isBlocked %}
        <a class="btn btn-success" id="deblock" href=""><i class="icon-hand-down icon-white"></i> Deblock</a>
    {% endif %}
{% endblock %}
