{% extends '::base.html.twig' %}

{% block body %}

    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug, 'activeTab': 'us'})) }}

    <div class="well">
        <div class="row">
            <div class="span12">
                <p class="lead">
                    <span class="gray-text">#{{ story.number }}</span>
                    {{ story.title }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset1">
                {{ story.details }}
            </div>
            <div class="span1 offset3">
                <p class="lead text-info">{{ story.points }} pts</p>
            </div>
        </div>
    </div>

    <!-- gestion du statut de la user story -->

    <div class="row">
        <div class="span2">
            <div class="btn btn-danger">Blocked</div>
        </div>
        <div class="span8 centered">
            <span class="label label-info" id="status">{{ story.status }}</span>
            {% if story.isAssigned %}
                <br><span id="assignee">{{ story.assignee.username }}</span>
            {% endif %}
        </div>
        <div class="span2 align-right">
            {% if story.isAssignable %}
                <a class="btn btn-primary" id="start" href="{{ path('story_start', { 'project': project.slug, 'id': story.id }) }}">Start</a>
            {% elseif story.isInProgress %}
                <a class="btn btn-success" id="deliver" href="{{ path('story_deliver', { 'project': project.slug, 'id': story.id }) }}">To validate</a>
            {% endif %}
        </div>
    </div>

    <hr>

    <!--fil de commentaires -->
    {#
    <div class="row">
        <div class="span6">
            <div class="alert alert-info dev-comment">
                <strong>Benjamin: </strong>Mais c'est pas très clair les précisions sur cette user story non ?
            </div>
            <div class="alert alert-success po-comment">
                <strong>Edouard: </strong>ouais j'avoue
            </div>
            <div class="alert alert-info dev-comment">
                <strong>Matthieu: </strong> ^^
            </div>
            <div class="alert alert-info dev-comment">
                <strong>Benjamin: </strong>Bon ok je me base sur ta réponse dans IRC
            </div>
        </div>

        <div class="span6">
            <div class="alert alert-danger very-close">
                Ne fonctionne pas avec Thunderbird comme client de messagerie
            </div>
            <hr>
            <div class="alert very-close">
                Le lien ne fonctionne pas sous ipad (disabled)
            </div>
            <div class="alert very-close">
                Problème de formattage html de l'email
            </div>
        </div>
    </div>
    #}


{% endblock %}
