{% extends '::base.html.twig' %}

{% block body %}

    {{ render(controller('MiniTeamScrumBundle:Project:scrumBar', { 'project': project.slug, 'activeTab': story.status })) }}

    <div class="well story-description">
        <span class="label label-info" id="status">{{ story.status }}</span>
        <div class="row">
            <div class="span12">
                <p class="lead">
                    <span class="gray-text">#{{ story.number }}</span>
                    {{ story.title }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span6 offset1">
                {{ story.details }}
            </div>
            <div class="span1 offset3">
                <p class="lead text-info">{{ story.points }} pts</p>
            </div>
        </div>
        {% if story.isAssigned %}
            <span id="assignee">{{ story.assignee.username }} is working on it</span>
        {% endif %}

    </div>

    <!-- gestion du statut de la user story -->

    <div class="row">
        <div class="span2">
            <!--<a class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete from backlog</a>-->
            {% if story.isPlanned %}
                <a class="btn btn-inverse" id="unplan" href="{{ path('story_unplan', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-fast-backward icon-white"></i> Remove from sprint</a>
            {% elseif story.isInProgress %}
                <a class="btn btn-danger" id="blocked"><i class="icon-ban-circle icon-white"></i> Blocked</a>
            {% endif %}
            <!--
            <a class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i> Refuse</a>
            <a class="btn btn-inverse"><i class="icon-hand-up icon-white"></i> Take back</a>
            <a class="btn btn-inverse"><i class="icon-hand-up icon-white"></i> Oops</a>
            -->
        </div>
        <div class="span2 pull-right align-right">
            {% if story.isInBacklog %}
                <a class="btn btn-info" id="plan" href="{{ path('story_plan', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-plus icon-white"></i> Plan for next sprint</a>
            {% elseif story.isPlanned %}
                <a class="btn btn-info" id="start" href="{{ path('story_start', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-play icon-white"></i> Start</a>
            {% elseif story.isInProgress %}
                <a class="btn btn-success" id="deliver" href="{{ path('story_deliver', { 'project': project.slug, 'id': story.id }) }}"><i class="icon-ok icon-white"></i> Deliver</a>
            {% endif %}
        </div>
    </div>

    <hr>

    <!--fil de commentaires -->
    {#
    <div class="row">
        <div class="span6">
            <div class="alert alert-info dev-comment">
                <strong>Benjamin: </strong>Mais c'est pas très clair les précisions sur cette user story non ?
            </div>
            <div class="alert alert-success po-comment">
                <strong>Edouard: </strong>ouais j'avoue
            </div>
            <div class="alert alert-info dev-comment">
                <strong>Matthieu: </strong> ^^
            </div>
            <div class="alert alert-info dev-comment">
                <strong>Benjamin: </strong>Bon ok je me base sur ta réponse dans IRC
            </div>
        </div>

        <div class="span6">
            <div class="alert alert-danger very-close">
                Ne fonctionne pas avec Thunderbird comme client de messagerie
            </div>
            <hr>
            <div class="alert very-close">
                Le lien ne fonctionne pas sous ipad (disabled)
            </div>
            <div class="alert very-close">
                Problème de formattage html de l'email
            </div>
        </div>
    </div>
    #}


{% endblock %}
